html {
	margin: 0px;
	padding: 0px;
}
body {
	padding: 0px;
}

#navbar-footer {
	margin: 0px;
	padding: 0px;
}

.main {
	min-height: 500px;
}
body > div.header > nav {
	border: 0px;
}

#bs-example-navbar-collapse-1 .nav.navbar-nav.navbar-right {
	li {
		a {
			&:hover {
				color: #fff;
			}
		}
	}
}

#ul {
	a {
		&:hover {
			color: #fff;
		}
	}
}

#bs-example-navbar-collapse-1 .navbar-nav.navbar-right {
	padding-right: 15px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	background-color: #000;
	padding: 0px;
}
.container-fluid {
	padding: 20px;
	background-color: #000;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
	background-image:linear-gradient(to bottom,#000 0,#000 100%);
}
.header .navbar-header {
	padding-left: 20px;
	
	a {
		&:hover {
			color: #fff;
		}
	}
}

#bookCoverButton {
	margin-bottom: 30px;	
}

.home {
	h3 {
		margin-top: 10px;
	}
}




















